*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size:62.5% ;
}
 h1{
    font-size: 4rem;
}
h2{
    font-size: 4.8rem;
}
h3{
    font-size: 3.7rem;
}

li{
    font-size: 2.3rem;

}
/*header*/
.main-head{
    background: #1a1a70;
    color: #ffffff;

}
.main-head a{
    font-size: 2.5rem;
    color: #ffffff;
    text-decoration: none;
    transition: border-bottom 0.2s ease-in-out;
}

nav{
    min-height: 10vh;
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 2rem;
    flex-wrap: wrap;
}
nav ul{
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
#logo{
    font-size: 3rem;
   flex: 1 1 40rem;
}
.hero{
    min-height: 90vh;
    //background: url("../../projet_php/image/ia1.jpg");

    background: url("../../projet_php/image/iaimage.jpg");

    background-position: center center;
    background-size: cover;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    //justify-content: center;
    align-items: center;
}
.hero h1{
    margin: 20px;
}
.hero p {
    //position: absolute;
    color: #ffffff;
    font-size: 2rem;
    top: 0;
    //right: 0;
    left: 20%;
    padding-left: 20%;
    //padding-right: 2%;
    width: 70%;
    //padding: 0 20px;
    margin-bottom: 20px;
    text-align: justify;
}
.title-box {
    color: #ffffff;
    background-color: rgb(11, 49, 87);
    padding: 8px;
    margin: 8px 0;
    border-radius: 10px;
}
#projet {
    background-color: rgb(11, 49, 87);
    padding: 20px;
    color: white;
    left: 20%;
}
.box p {
    color: #020202;
}
#rea{
    background-color: rgb(11, 49, 87);
    padding: 20px;
    color: white;
    left: 20%;
}
.hero a{
    padding: 2rem 6rem;
   //background: #03034b;
    color: #ffff;
    font-size: 1.8rem;
    cursor: pointer;
}

@media screen and(max-width: 885px){
    html{
        font-size: 45%;
    }
    nav{
       text-align: center;
    }
    #logo{
        padding: 2rem;
    }
}
.hero2{
    background: url("../../projet_php/image/image.jpg");
   // background-position: center center;
    // background-size: cover;
    //background-position: center
    //background-color: #7f9fc7;
    background-size: cover;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
}
.hero2 p{
    padding: 1em;
    font-size: 1.8rem;

}
.hero2 th ,td{
    border: 1px solid #938383;
    //padding: 5px;
    text-align: center;
    font-size:17px;
    margin: 0 auto;
    max-width: 100%;
}
.hero2 th{
    background-color: #dca84c;
    font-size:18px;
}



.hero3{
    //background: url("../../projet_php/image/5.jpg");
    padding: 2%;
    background-size: cover;
    color: #020202;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero3 form {
     max-width: 500px;
     margin: 0 auto;
     border: 1px solid #ffffff;
     padding: 20px;
     border-radius: 5px;
 }

.hero3 h1 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
}

.hero3 input[type="text"], input[type="number"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
    font-size: 16px;
}

.hero3 input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #03034b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.hero2 a{
    color: rgb(8, 8, 19);
    text-decoration: none;
    transition: border-bottom 0.2s ease-in-out;
}

a:hover {
    color: #FF0000;
    border-bottom: 1px solid gray;
}
